<mat-toolbar class="primaryBar mat-elevation-z6" color="primary" role="heading">
  <span [routerLink]="['/home']">Musala Jobs</span>
  <span class="spacer"></span>
  <button mat-icon-button [routerLink]="['/login']" *ngIf="!credential">
    <mat-icon class="musala-tabbar-icon material-icons md-24" aria-hidden="false" aria-label="Login in the system">
      account_circle
    </mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['/all-projects']" *ngIf="credential">
    <mat-icon class="musala-tabbar-icon material-icons md-24" aria-hidden="false" aria-label="Login in the system">
      home
    </mat-icon>
  </button>
  <a mat-button href="https://github.com/ydroid/musala-jobs-app" target="_blanck">
    <img
      class="musala-tabbar-icon-image"
      src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg"
    />
    <span class="github-span">GitHub</span>
  </a>
</mat-toolbar>
