.primaryBar {
  span {
    cursor: pointer;
  }
}
.co {
  width: 100%;
}
.spacer {
  flex: 1 1 auto;
}

.musala-tabbar-icon-image {
  height: 26px;
}

.github-span {
  margin-left: 4px;
  font-size: 20px;
  font-weight: bold;
}

.musala-tabbar-icon {
  font-size: 30px;
  line-height: 24px;
  margin-right: 10px;
}
