<div class="container mat-typography" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <img src="https://lh3.googleusercontent.com/a-/AOh14GjPXJzwLqSz4zmTmbsSUcWd7MoudEeGrNmjLkuYlw" />
    <h1>
      <mat-card-title>Yunior Montaner</mat-card-title>
    </h1>
    <mat-card-content>
      <p>
        Graduated on Ingeniering Informatics Science with more than 12 years of experience.
      </p>
      <p>
        Dedicated to the development of management systems of information and applications, enthusiast of new
        technologies.
      </p>
      <p>
        Passionate about .Net and BI.
      </p>
    </mat-card-content>
  </mat-card>
  <div class="copyright" fxLayout="column" fxLayoutAlign="center">
    <span>Version {{ version }}</span>
    <span>&copy; 2020 Musala-Soft Job Test | All rigths reserved</span>
  </div>
</div>
