<div id="login" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1.5rem" class="mat-typography">
  <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
    <div class="logo" [@animate]="{ value: '*', params: { scale: '0.2' } }">
      <img [routerLink]="'/home'" src="assets/entity-system-management@512.png" />
    </div>
    <div class="title" [@animate]="{ value: '*', params: { delay: '50ms', y: '25px' } }">
      Welcome to the Musala Jobs!
    </div>
    <div class="description" [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }">
      Platform for project management. The main mission of this platform is to manage projects in a clean and simple
      way. Just entering a name and description you can manage your projects
    </div>
  </div>

  <div id="login-form-wrapper" [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }">
    <div id="login-form">
      <div class="logo" fxHide.gt-xs>
        <img src="assets/entity-system-management@192.png" />
      </div>
      <div class="title">LOGIN TO YOUR ACCOUNT</div>
      <form (ngSubmit)="login()" name="loginForm" [formGroup]="loginForm" novalidate>
        <div class="login-error" [hidden]="!error || isLoading" translate>
          Username or password incorrect.
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="username" />
          <mat-icon matSuffix class="secondary-text">mail</mat-icon>
          <mat-error *ngIf="loginForm.get('username').hasError('required')">
            Email is required
          </mat-error>
          <mat-error
            *ngIf="!loginForm.get('username').hasError('required') && loginForm.get('username').hasError('email')"
          >
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          class="submit-button"
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid || isLoading"
        >
          <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
          <span>Login</span>
        </button>
      </form>
      <div class="separator">
        <span class="text">OR</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="start center">
        <button mat-raised-button class="google" (click)="loginWithGoogle()">
          <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
          <span>Log in with Google</span>
        </button>
      </div>
      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <span class="text">Don't have an account?</span>
        <a class="link" [routerLink]="'/register'">Create an account</a>
      </div>
    </div>
  </div>
</div>
