<div class="fregister mat-typography" fxFill fxLayout="column" fxLayoutAlign="start center" fxlayoutGap="1rem">
  <div class="logo" fxLayoutAlign="center center">
    <img src="./assets/entity-system-management@192.png" />
  </div>
  <span class="title">Your account has been created</span>
  <a class="back-link" style="font-size: 16px" [routerLink]="['/login']">
    <mat-icon>account_circle</mat-icon>
    Return To login
  </a>
  <div class="copyright" fxLayout="column" fxLayoutAlign="end center">
    <span>&copy; 2020 Musala-Soft Job Test | All rigths reserved</span>
  </div>
</div>
